<app-user-header title="Empleado" link="employee"></app-user-header>
<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
    <c-container>
      <c-row class="justify-content-center mt-3 mb-3">
        <c-col lg="7" md="9" xl="6">
          <c-card class="mx-4">
            <c-card-body class="p-4">
              <form cForm [formGroup]="form" class="customAlign">
                <h3>Update Product</h3>

                <c-input-group class="mb-3">
                    <span cInputGroupText>
                      <svg cIcon [cIcon]="icons.cilPencil"></svg>
                    </span>
                    <input
                      formControlName="userName" 
                      autoComplete="userName" 
                      cFormControl 
                      placeholder="User name" />
                 </c-input-group>
                 <c-input-group class="mb-3">
                    <span cInputGroupText>
                      <svg cIcon [cIcon]="icons.cilShortText"></svg>
                    </span>
                    <input
                      formControlName="userPrecio" 
                      autoComplete="userPrecio" 
                      cFormControl 
                      placeholder="Precio" />
                </c-input-group>
                <c-input-group class="mb-3">
                  <span cInputGroupText>
                    <svg cIcon [cIcon]="icons.cilPencil"></svg>
                  </span>
                  <input
                      formControlName="userDescripcion" 
                      autoComplete="userDescripcion" 
                      cFormControl 
                      placeholder="Descrion" />
               </c-input-group>
                <div class="d-grid">
                    <button 
                    (click)="updateInvitation()"
                    class="customButton" 
                    cButton 
                    (click)="updateInvitation()"
                    color="primary">
                      Update Product
                    </button>
                  </div>
              </form>
            </c-card-body>
          </c-card>
        </c-col>
      </c-row>
    </c-container>
</div>